--- drivers/misc/mediatek/usb_c/Kconfig
+++ drivers/misc/mediatek/usb_c/Kconfig
@@ -66,6 +66,7 @@ config USB_C_SWITCH_MT6353
 	  PD and MHL alt mode are not supported.
 	  If unsure, say N.
 
+
 config TCPC_CLASS
 	bool "TypeC Port Controller Device Class"
 	select USB_C_SWITCH
@@ -105,12 +106,12 @@ config TCPC_RT1711H
 	  TypeC port Controller
 	  Driver
 
-config TCPC_RT5081
-	bool "Richtek RT1711H TypeC port Controller Driver"
+config TCPC_RT5081A
+	bool "Richtek RT5081A TypeC port Controller Driver"
 	depends on TCPC_CLASS
 	default n
 	help
-	  Say Y to enable Richtek RT5081
+	  Say Y to enable Richtek RT5081A
 	  TypeC port Controller
 	  Also Support Power Delivery
 	  Say N to disable
@@ -125,12 +126,3 @@ config USB_PD_VBUS_STABLE_TOUT
 	  for
 	  VBUS change
 	  stable
-
-config RT7207_ADAPTER
-	bool "Richtek RT7207 PD Adapter"
-	default n
-	help
-	  Say Y to enable
-	  Richtek RT7207
-	  PD Adapter
-	  Function.
