--- drivers/misc/mediatek/pmic/Kconfig
+++ drivers/misc/mediatek/pmic/Kconfig
@@ -89,4 +89,4 @@ config MTK_AUXADC_INTF
 	  Set y to enable it.
 	  Set n to disable it.
 
-source "drivers/misc/mediatek/pmic/rt5081/Kconfig"
+source "drivers/misc/mediatek/pmic/rt5081a/Kconfig"
